body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
  
    &__container {
      width: 100%;
      max-width: 1024px;
      margin:20px 0px 100px 0px;
    }
  
    &__list {
      display: flex;
      gap: 40px;
    }
  
    &__listItem {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    &__listItem:first-child.active {
      border: 1px solid white;
      padding: 10px;
      border-radius: 20px;
    }
  
    &__listItemTitle {
      text-transform: capitalize;
    } 
}
