.navbar{
    // height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;

    &__container{
        width: 100%;
        max-width: 1024px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px
    }

    &__logo {
        font-weight: 500;
        &>a {
          color: #fff;
          text-decoration-line: none;
        }
    }
    
    &__button {
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
     }

     &__list {
        display: flex;
        gap: 40px;
        padding:10px 0px 30px 0px;
      }
    
      &__listItem {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    
      &__listItem:first-child.active {
        border: 1px solid white;
        padding: 10px;
        border-radius: 20px;
      }
    
      &__listItemTitle {
        text-transform: capitalize;
      } 

}


    
    
